In [1]:
import json
import os
import pandas as pd

## Load in new csvs of lynker labels and jimmy's newest labels

In [2]:
import random as r

In [3]:
with open("unprocessed_csvs_and_jsons/groundfish_David.json", "r") as f:
    david = json.load(f)
    
with open("unprocessed_csvs_and_jsons/groundfish_harsh.json", "r") as f:
    harsh = json.load(f)
    
with open("unprocessed_csvs_and_jsons/groundfish_michael.json", "r") as f:
    michael = json.load(f)

In [8]:
with open("../../data/rockfish_labels/coco/jimmy_fct_lynker_train_fixed_6k_22k.json") as f:
    jimmy_train = json.load(f)
    
with open("../../data/rockfish_labels/coco/jimmy_fct_lynker_val_fixed_1484_4653.json") as f:
    jimmy_val = json.load(f)

In [5]:
jimmy_new = pd.read_csv("jimmy_labels.csv")
jimmy_new.head()

,x_min,x_max,y_min,y_max,filename,title,value
0,244,311,1860,1929,data/rockfish_full/SHE-11/Labeled_7_251_300/20...,Animal,animal
1,734,876,705,958,data/rockfish_full/SHE-11/Labeled_7_251_300/20...,Animal,animal
2,1030,1221,1119,1233,data/rockfish_full/SHE-11/Labeled_7_251_300/20...,No Animal,no_animal
3,1704,1898,823,1020,data/rockfish_full/SHE-11/Labeled_7_251_300/20...,Animal,animal
4,1224,1308,966,1106,data/rockfish_full/SHE-11/Labeled_7_251_300/20...,No Animal,no_animal

In [6]:
boxes_list = []
lynker_guys = [david, harsh, michael]

for guy in lynker_guys:
    for key in guy:
        fn = guy[key]["filename"]
        filename = "rockfish/OCNMS_port/" + os.path.splitext(fn)[0] + ".tif" # I want .tifs instead 
        bboxes = guy[key]['regions']
        for box in bboxes:
            box = box['shape_attributes']
            x_min = box['x']
            y_min = box['y']
            x_max = box['x'] + box['width']
            y_max = box['y'] + box['height']
            bbox_dict = {
                "filename": filename,
                "x_min": x_min,
                "x_max": x_max,
                "y_min": y_min,
                "y_max": y_max,
                "is_validation": False
            }
            boxes_list.append(bbox_dict)
        
lynker_boxes = pd.DataFrame(boxes_list)

In [11]:
lynker_boxes

,filename,x_min,x_max,y_min,y_max,is_validation
0,rockfish/OCNMS_port/20170819.183849.00385.tif,129,281,1273,1434,False
1,rockfish/OCNMS_port/20170819.183849.00385.tif,1085,1154,1279,1428,False
2,rockfish/OCNMS_port/20170819.184513.00529.tif,1178,1345,1166,1226,False
3,rockfish/OCNMS_port/20170819.184529.00535.tif,2313,2436,915,999,False
4,rockfish/OCNMS_port/20170819.184737.00583.tif,628,831,299,425,False
...,...,...,...,...,...,...
3666,rockfish/OCNMS_port/20170822.235627.08821.tif,816,978,1092,1331,False
3667,rockfish/OCNMS_port/20170822.235627.08821.tif,118,264,392,455,False
3668,rockfish/OCNMS_port/20170822.235643.08827.tif,1069,1289,677,867,False
3669,rockfish/OCNMS_port/20170822.235643.08827.tif,814,1018,842,1023,False
3670,rockfish/OCNMS_port/20170822.235835.08869.tif,746,806,1806,1943,False

In [8]:
old_val = pd.read_csv("lynker_val.csv")
old_val

,filename,x_min,x_max,y_min,y_max,bbox_id,is_validation
0,20170819.183313.00259.tif,302,443,1641,1877,0,True
1,20170819.183313.00259.tif,1107,1230,586,743,1,True
2,20170819.183313.00259.tif,1125,1341,1573,1655,2,True
3,20170819.183401.00277.tif,1437,1696,1830,1957,3,True
4,20170819.184113.00439.tif,2025,2205,741,1105,4,True
...,...,...,...,...,...,...,...
2553,20170822.213506.05641.tif,2170,2361,1512,1667,1021,True
2554,20170822.213658.05683.tif,1234,1357,544,753,1022,True
2555,20170822.213658.05683.tif,1635,1740,430,627,1023,True
2556,20170822.213658.05683.tif,1847,1937,257,439,1024,True
2557,20170822.213658.05683.tif,1826,1934,1602,1799,1025,True

In [9]:
lynker = pd.concat([old_val, lynker_boxes])
lynker

,filename,x_min,x_max,y_min,y_max,bbox_id,is_validation
0,20170819.183313.00259.tif,302,443,1641,1877,0.0,True
1,20170819.183313.00259.tif,1107,1230,586,743,1.0,True
2,20170819.183313.00259.tif,1125,1341,1573,1655,2.0,True
3,20170819.183401.00277.tif,1437,1696,1830,1957,3.0,True
4,20170819.184113.00439.tif,2025,2205,741,1105,4.0,True
...,...,...,...,...,...,...,...
3666,rockfish/OCNMS_port/20170822.235627.08821.tif,816,978,1092,1331,NaN,False
3667,rockfish/OCNMS_port/20170822.235627.08821.tif,118,264,392,455,NaN,False
3668,rockfish/OCNMS_port/20170822.235643.08827.tif,1069,1289,677,867,NaN,False
3669,rockfish/OCNMS_port/20170822.235643.08827.tif,814,1018,842,1023,NaN,False
3670,rockfish/OCNMS_port/20170822.235835.08869.tif,746,806,1806,1943,NaN,False

## give old and new the same base path

In [12]:
def fix_filename(fn):
    fn = os.path.basename(fn)
    return os.path.join("rockfish/OCNMS_port", fn)

In [13]:
lynker["filename"] = lynker.filename.apply(fix_filename)
lynker

,filename,x_min,x_max,y_min,y_max,bbox_id,is_validation
0,rockfish/OCNMS_port/20170819.183313.00259.tif,302,443,1641,1877,0.0,True
1,rockfish/OCNMS_port/20170819.183313.00259.tif,1107,1230,586,743,1.0,True
2,rockfish/OCNMS_port/20170819.183313.00259.tif,1125,1341,1573,1655,2.0,True
3,rockfish/OCNMS_port/20170819.183401.00277.tif,1437,1696,1830,1957,3.0,True
4,rockfish/OCNMS_port/20170819.184113.00439.tif,2025,2205,741,1105,4.0,True
...,...,...,...,...,...,...,...
3666,rockfish/OCNMS_port/20170822.235627.08821.tif,816,978,1092,1331,NaN,False
3667,rockfish/OCNMS_port/20170822.235627.08821.tif,118,264,392,455,NaN,False
3668,rockfish/OCNMS_port/20170822.235643.08827.tif,1069,1289,677,867,NaN,False
3669,rockfish/OCNMS_port/20170822.235643.08827.tif,814,1018,842,1023,NaN,False
3670,rockfish/OCNMS_port/20170822.235835.08869.tif,746,806,1806,1943,NaN,False

## take jimmy's new label jsons and reconvert to csv

In [16]:
def coco_to_csv(coco):
    annos = coco['annotations']
    coco_dicts = []
    for anno in annos:
        x_min = anno['bbox'][0]
        y_min = anno['bbox'][1]
        x_max = anno['bbox'][2]
        y_max = anno['bbox'][3]   
        filename = anno["image_id"]
        coco_dict = {
            "x_min": x_min,
            "y_min": y_min,
            "x_max": x_max,
            "y_max": y_max,
            "filename": filename
        }
        coco_dicts.append(coco_dict)
        
    return pd.DataFrame(coco_dicts)

In [17]:
jimmy = pd.concat([coco_to_csv(jimmy_train), coco_to_csv(jimmy_val)])

jimmy

,x_min,y_min,x_max,y_max,filename
0,895.500000,1161.500000,225.0,225.0,rockfish/OCNMS_port/20170826.171537.01081.tif
1,823.500000,980.500000,225.0,225.0,rockfish/OCNMS_port/20170826.171537.01081.tif
2,1834.250000,1569.505106,225.0,225.0,rockfish/OCNMS_port/20170822.224706.07261.tif
3,1869.132938,1493.340893,225.0,225.0,rockfish/OCNMS_port/20170822.224706.07261.tif
4,17.250000,1585.334355,225.0,225.0,rockfish/OCNMS_port/20170827.211702.05543.tif
...,...,...,...,...,...
4648,1713.000000,1536.000000,161.0,95.0,rockfish_full/SHE-11/Labeled_7_s_1_100/2011101...
4649,1643.000000,1297.000000,183.0,136.0,rockfish_full/SHE-11/Labeled_7_s_1_100/2011101...
4650,1304.000000,665.000000,123.0,100.0,rockfish_full/SHE-11/Labeled_7_s_1_100/2011101...
4651,737.000000,221.000000,206.0,125.0,rockfish_full/SHE-11/Labeled_7_s_1_100/2011101...
4652,506.000000,40.000000,209.0,98.0,rockfish_full/SHE-11/Labeled_7_s_1_100/2011101...

In [18]:
def remove_fct_path(fn):
    dirname = os.path.dirname(fn)
    return dirname

In [19]:
jimmy["dirname"] = jimmy.filename.apply(remove_fct_path)

In [20]:
jimmy = jimmy[jimmy.dirname != "rockfish/OCNMS_port"]
jimmy

,x_min,y_min,x_max,y_max,filename,dirname
13070,646.0,980.0,181.0,223.0,rockfish_full/SHE-11/Labeled_21_s_1_100/201110...,rockfish_full/SHE-11/Labeled_21_s_1_100
13071,843.0,811.0,40.0,47.0,rockfish_full/SHE-11/Labeled_21_s_1_100/201110...,rockfish_full/SHE-11/Labeled_21_s_1_100
13072,1415.0,1764.0,105.0,120.0,rockfish_full/SHE-11/Labeled_21_s_1_100/201110...,rockfish_full/SHE-11/Labeled_21_s_1_100
13073,831.0,1108.0,126.0,154.0,rockfish_full/SHE-11/Labeled_21_s_1_100/201110...,rockfish_full/SHE-11/Labeled_21_s_1_100
13074,212.0,760.0,91.0,169.0,rockfish_full/SHE-11/Labeled_21_s_1_100/201110...,rockfish_full/SHE-11/Labeled_21_s_1_100
...,...,...,...,...,...,...
4648,1713.0,1536.0,161.0,95.0,rockfish_full/SHE-11/Labeled_7_s_1_100/2011101...,rockfish_full/SHE-11/Labeled_7_s_1_100
4649,1643.0,1297.0,183.0,136.0,rockfish_full/SHE-11/Labeled_7_s_1_100/2011101...,rockfish_full/SHE-11/Labeled_7_s_1_100
4650,1304.0,665.0,123.0,100.0,rockfish_full/SHE-11/Labeled_7_s_1_100/2011101...,rockfish_full/SHE-11/Labeled_7_s_1_100
4651,737.0,221.0,206.0,125.0,rockfish_full/SHE-11/Labeled_7_s_1_100/2011101...,rockfish_full/SHE-11/Labeled_7_s_1_100
4652,506.0,40.0,209.0,98.0,rockfish_full/SHE-11/Labeled_7_s_1_100/2011101...,rockfish_full/SHE-11/Labeled_7_s_1_100

## Merge new jimmy labels, new and old lynker labels to form new non-point label set

In [21]:
no_fct_merge = pd.concat([lynker, jimmy])
no_fct_merge.drop(['dirname'], axis=1, inplace=True)
no_fct_merge.drop(["is_validation"], axis=1, inplace=True)
no_fct_merge = no_fct_merge.reset_index(drop=True)

In [22]:
no_fct_merge.drop(['bbox_id'], axis=1, inplace=True)

In [23]:
no_fct_merge

,filename,x_min,x_max,y_min,y_max
0,rockfish/OCNMS_port/20170819.183313.00259.tif,302.0,443.0,1641.0,1877.0
1,rockfish/OCNMS_port/20170819.183313.00259.tif,1107.0,1230.0,586.0,743.0
2,rockfish/OCNMS_port/20170819.183313.00259.tif,1125.0,1341.0,1573.0,1655.0
3,rockfish/OCNMS_port/20170819.183401.00277.tif,1437.0,1696.0,1830.0,1957.0
4,rockfish/OCNMS_port/20170819.184113.00439.tif,2025.0,2205.0,741.0,1105.0
...,...,...,...,...,...
12945,rockfish_full/SHE-11/Labeled_7_s_1_100/2011101...,1713.0,161.0,1536.0,95.0
12946,rockfish_full/SHE-11/Labeled_7_s_1_100/2011101...,1643.0,183.0,1297.0,136.0
12947,rockfish_full/SHE-11/Labeled_7_s_1_100/2011101...,1304.0,123.0,665.0,100.0
12948,rockfish_full/SHE-11/Labeled_7_s_1_100/2011101...,737.0,206.0,221.0,125.0
12949,rockfish_full/SHE-11/Labeled_7_s_1_100/2011101...,506.0,209.0,40.0,98.0

## generate new train-val split (by filename!)

In [33]:
fns = list(no_fct_merge.filename.unique())
len(fns)

4292

In [34]:
val_set = r.sample(fns, int(0.2*len(fns)))

In [35]:
for i, f in enumerate(fns):
    if f in val_set:
        fns.remove(f)

In [36]:
train_set = fns

In [37]:
len(val_set)

858

In [38]:
no_fct_merge['is_validation'] = False

In [39]:
def val_set_col(fn):
    if fn in val_set:
        return True
    else:
        return False

In [40]:
no_fct_merge['is_validation'] = no_fct_merge.filename.apply(val_set_col)
no_fct_merge

,filename,x_min,x_max,y_min,y_max,is_validation
0,rockfish/OCNMS_port/20170819.183313.00259.tif,302.0,443.0,1641.0,1877.0,False
1,rockfish/OCNMS_port/20170819.183313.00259.tif,1107.0,1230.0,586.0,743.0,False
2,rockfish/OCNMS_port/20170819.183313.00259.tif,1125.0,1341.0,1573.0,1655.0,False
3,rockfish/OCNMS_port/20170819.183401.00277.tif,1437.0,1696.0,1830.0,1957.0,True
4,rockfish/OCNMS_port/20170819.184113.00439.tif,2025.0,2205.0,741.0,1105.0,False
...,...,...,...,...,...,...
7243,rockfish/OCNMS_port/20170901.180605.00849.tif,14.0,234.0,1809.0,2029.0,True
7246,rockfish/OCNMS_port/20170831.192448.03002.tif,1302.0,1522.0,1265.0,1485.0,False
7257,rockfish/OCNMS_port/20170831.190224.02498.tif,2085.0,2305.0,12.0,232.0,True
7260,rockfish/OCNMS_port/20170901.174237.00321.tif,1599.0,1819.0,1426.0,1646.0,False
7268,rockfish/OCNMS_port/20170826.203628.05599.tif,2126.0,2346.0,1319.0,1539.0,False

In [41]:
no_fct_merge.is_validation.value_counts()

False    13274
True      2892
Name: is_validation, dtype: int64

## merge with training_sample images

In [24]:
training = pd.read_csv("boxes_from_training.csv")

In [25]:
training

                       filename  bbox_id  x_min  y_min  x_max  y_max
0     20170821.204635.05758.tif        0    204    190    424    410
1     20170821.204635.05758.tif        1   1520      0   1740    147
2     20170821.204635.05758.tif        2    211    200    431    420
3     20170821.204635.05758.tif        3   1492      0   1712    171
4     20170901.194206.03009.tif        4    912    372   1132    592
...                         ...      ...    ...    ...    ...    ...
7264  20170819.190857.01063.tif     7264    413   1358    633   1578
7265  20170820.210221.05122.tif     7265   2039   1830   2259   2050
7266  20170820.210221.05122.tif     7266   2063   1867   2283   2050
7267  20170820.190251.02434.tif     7267    794    938   1014   1158
7268  20170826.203628.05599.tif     7268   2126   1319   2346   1539

[7269 rows x 6 columns]

In [26]:
def append_basepath(fn):
    return os.path.join("rockfish/OCNMS_port", fn)

training['filename'] = training.filename.apply(append_basepath)
training

,filename,bbox_id,x_min,y_min,x_max,y_max
0,rockfish/OCNMS_port/20170821.204635.05758.tif,0,204,190,424,410
1,rockfish/OCNMS_port/20170821.204635.05758.tif,1,1520,0,1740,147
2,rockfish/OCNMS_port/20170821.204635.05758.tif,2,211,200,431,420
3,rockfish/OCNMS_port/20170821.204635.05758.tif,3,1492,0,1712,171
4,rockfish/OCNMS_port/20170901.194206.03009.tif,4,912,372,1132,592
...,...,...,...,...,...,...
7264,rockfish/OCNMS_port/20170819.190857.01063.tif,7264,413,1358,633,1578
7265,rockfish/OCNMS_port/20170820.210221.05122.tif,7265,2039,1830,2259,2050
7266,rockfish/OCNMS_port/20170820.210221.05122.tif,7266,2063,1867,2283,2050
7267,rockfish/OCNMS_port/20170820.190251.02434.tif,7267,794,938,1014,1158
7268,rockfish/OCNMS_port/20170826.203628.05599.tif,7268,2126,1319,2346,1539

In [27]:
training_images = training.filename.unique()

In [28]:
no_fct_images = list(no_fct_merge.filename.unique())

In [29]:
train_diff = list(set(training_images).difference(set(no_fct_images)))

In [30]:
train_subset_we_want = training[training.filename.isin(pd.Series(train_diff))]

In [31]:
no_fct_merge = pd.concat([no_fct_merge, train_subset_we_want])

In [32]:
no_fct_merge.drop(['bbox_id'], inplace=True, axis=1)

In [47]:
# final, coco-formatted data, to be written to json
train_coco = {}
val_coco = {}

train_info = {}
train_coco['info'] = train_info

val_info = {}
val_coco['info'] = val_info

licenses = []
train_coco['licenses'] = licenses
val_coco['licenses'] = licenses

categories = [ { "supercategory": "THING", "id": 1 , "name": "THING" }]
train_coco['categories'] = categories
val_coco['categories'] = categories

In [55]:
from PIL import Image

def height(img):
    image = Image.open(img)
    return image.size[1]

def width(img):
    image = Image.open(img)
    return image.size[0]

In [44]:
train_subset = no_fct_merge[no_fct_merge.is_validation == False].filename.unique()

In [57]:
import os
from tqdm import tqdm
imgs_path = "../../data"
train_images = []
for i, img in tqdm(enumerate(train_subset)):
    train_images.append({ 
        "file_name": img,
         "height": height(os.path.join(imgs_path, img)),
         "width": width(os.path.join(imgs_path, img)),
         "id": img,
       })
print(train_images[0])
train_coco['images'] = train_images

In [58]:
val_subset = no_fct_merge[no_fct_merge.is_validation == True].filename.unique()
val_images = []
for i, img in tqdm(enumerate(val_subset)):
    val_images.append({ 
        "file_name": img,
         "height": height(os.path.join(imgs_path, img)),
         "width": width(os.path.join(imgs_path, img)),
         "id": img,
       })
print(val_images[0])
val_coco['images'] = val_images

858it [00:00, 1286.27it/s]

{'file_name': 'rockfish/OCNMS_port/20170819.183401.00277.tif', 'height': 2050, 'width': 2448, 'id': 'rockfish/OCNMS_port/20170819.183401.00277.tif'}

In [45]:
# coco bounding box format is [top left x position, top left y position, width, height]
# TODO clip
def get_coco_bbox(xmin, xmax, ymin, ymax):
    return [ xmin, ymin, (xmax - xmin), (ymax - ymin) ]

# TODO clip, prevent negative
# divide by 2 like in camera traps example
def get_coco_area(xmin, xmax, ymin, ymax):
    return (xmax-xmin)*(ymax-ymin) / 2

In [84]:
pct50 = no_fct_merge[no_fct_merge.is_validation == False].sample(frac=0.10).reset_index(drop=False)
# train_subset = no_fct_merge[no_fct_merge.is_validation == False].reset_index(drop=False)

In [42]:
no_fct_merge = no_fct_merge.reset_index(drop=False)
no_fct_merge

,index,filename,x_min,x_max,y_min,y_max,is_validation
0,0,rockfish/OCNMS_port/20170819.183313.00259.tif,302.0,443.0,1641.0,1877.0,False
1,1,rockfish/OCNMS_port/20170819.183313.00259.tif,1107.0,1230.0,586.0,743.0,False
2,2,rockfish/OCNMS_port/20170819.183313.00259.tif,1125.0,1341.0,1573.0,1655.0,False
3,3,rockfish/OCNMS_port/20170819.183401.00277.tif,1437.0,1696.0,1830.0,1957.0,True
4,4,rockfish/OCNMS_port/20170819.184113.00439.tif,2025.0,2205.0,741.0,1105.0,False
...,...,...,...,...,...,...,...
16161,7243,rockfish/OCNMS_port/20170901.180605.00849.tif,14.0,234.0,1809.0,2029.0,True
16162,7246,rockfish/OCNMS_port/20170831.192448.03002.tif,1302.0,1522.0,1265.0,1485.0,False
16163,7257,rockfish/OCNMS_port/20170831.190224.02498.tif,2085.0,2305.0,12.0,232.0,True
16164,7260,rockfish/OCNMS_port/20170901.174237.00321.tif,1599.0,1819.0,1426.0,1646.0,False
16165,7268,rockfish/OCNMS_port/20170826.203628.05599.tif,2126.0,2346.0,1319.0,1539.0,False

In [48]:
train_annotations = []
val_annotations = []
x_min = 'x_min'
y_min = 'y_min'
x_max = 'x_max'
y_max = 'y_max'
img_id = 'filename'

from tqdm import tqdm 
for index, row in tqdm(no_fct_merge.iterrows()):
    annotation = {
        "bbox": get_coco_bbox(row[x_min], row[x_max], row[y_min], row[y_max]),
        "area": get_coco_area(row[x_min], row[x_max], row[y_min], row[y_max]),
        "iscrowd": 0, # TODO: some of these ARE crowds!
        "image_id": row[img_id],
        "category_id": 1, # always a FISH
        "id": int(index) # annotation ID must be an int
    }
    if (row.is_validation == False):
        train_annotations.append(annotation)
    elif (row.is_validation == True):
        val_annotations.append(annotation)

train_coco['annotations'] = train_annotations
val_coco['annotations'] = val_annotations

16166it [00:04, 3517.90it/s]

In [60]:
# with open('jimmy_lynker_train_4k_16kjson', 'w') as fp:
#     json.dump(train_coco, fp)
    
with open('jimmy_lynker_val_4k_16k.json', 'w') as fp:
    json.dump(val_coco, fp)

In [51]:
len([x['id'] for x in val_coco['annotations']])

2892